@use 'variables' as v;

body {
  font-family: v.$font-family;
  color: v.$color-black;
  background-color: v.$color-white;
}

h1, h2, h3, h4, h5, h6 {
  color: v.$color-primary;
}

a {
  text-decoration: none;
  color: v.$color-primary;

  &:hover {
    color: v.$color-accent;
  }
}
